.input-text-hash {
    text-align: center;
}

textarea {
    resize: none;
    width: 100%;
    margin-top: 5px;
}


/* Green */

.success {
    border-color: #487544;
    color: green;
}

.success:hover {
    background-color: #487544;
    color: white;
}