<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/bootstrap-4.5.3-dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../static/styles/fontawesome-free-5.15.1-web/css/all.css" />
    <link rel="stylesheet" href="../static/styles/home.css" />
    <link rel="stylesheet" href="../static/styles/navbar-app.css" />
    <title>Home - App Bag</title>
</head>

<body style="background-color: rgb(218, 218, 218);">
    <!--Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light nav-app">
        <div class="icon-app">
            <a class="navbar-brand" href="#">
                <img src="{{ url_for('static', filename='images/logo.png') }}" width="40" height="40" alt="Logo">
            </a>
        </div>
        <div>
            <i><b><span class="badge badge-pill badge-light" id="date-app"></span></b></i>
            <i><b><span class="badge badge-pill badge-light" id="time-app"></span></b></i>
        </div>
        <div class="icon-app">
            <div class="dropdown">
                <a class="navbar-brand" href="#" id="imageDropdown" data-toggle="dropdown">
                    <img src="{{ url_for('static', filename='images/user-circle-solid.svg') }}" width="40" height="40" alt="Logo profile">
                </a>
                <div class="dropdown-menu dropdown-success dropdown-menu-right" aria-labelledby="imageDropdown">
                    <a class="dropdown-item" href="{{ url_for('login') }}"><i class="fas fa-info-circle"></i>&nbsp; Account </a>
                    <a class="dropdown-item" href="{{ url_for('login') }}"><i class="fas fa-sign-out-alt"></i>&nbsp; Logout </a>
                </div>
            </div>
        </div>
    </nav>
    <!--/.Navbar -->

    <div class="text-center title-home">
        <h3><i><b>Home</b></i></h3>
    </div>
    <hr>

    <div class="services-cards">
        {% for service in services %}
        <div>
            <a href="{{ url_for( service.url ) }} " class="link-card">
                <div class="card border-success mb-3 service-card shadow p-3 mb-5 bg-white rounded">
                    <div class="card-header text-center ">{{ service.name }}</div>
                    <img src="{{ service.pathImg }}" class="card-img-top mt-1" alt="{{ service.name }} Image " width="100% " height="100% ">
                </div>
            </a>
        </div>
        {% endfor %}
    </div>

    <script src="../static/styles/bootstrap-4.5.3-dist/jquery-3.5.1.slim.min.js " onload="window.$= window.jQuery= module.exports;"></script>
    <script src="../static/styles/bootstrap-4.5.3-dist/popper.min.js"></script>
    <script src="../static/styles/bootstrap-4.5.3-dist/js/bootstrap.min.js "></script>
    <script src="../static/js/base.js"></script>
</body>

</html>