{% extends "base.html" %}
{% block title %}Translator{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
    <select name="languages" id="languages">
        {% for key, language in languages.items() %}
        <option value="{{ key }}">{{ language }}</option>
        {% endfor %}
    </select>
    <form action="{{ url_for('translate') }}" method="get">
        <p><input type="text" name="" id=""></p>
        <button type="submit">Translate</button>
    </form>
{% endblock %}