{% extends "base.html" %} {% block title %}Translator{% endblock %} {% block head %} {{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/translator.css') }}"> {% endblock %} {% block content %}
<div class="container">
    <form action="{{ url_for('translator') }}" method="POST">
        <div class="row">
            <div class="col-md-6">
                <select class="form-control" name="fromLanguages" id="fromLanguages">
                    {% if fromLanguageKey %}
                    <option value="{{ fromLanguageKey }}">{{firstLanguage | capitalize}}</option>
                    {% endif %}
                    <option value="detect">Detect Language</option>
                    {% for key, language in languages.items() %}
                        {% if not key == fromLanguageKey %}
                        <option value="{{ key }}">{{ language | capitalize }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <textarea class="form-control rounded-0" name="texto" id="texto" rows="6">{{texto}}</textarea>
            </div>
            <div class="col-md-6">
                <select class="form-control" name="toLanguages" id="toLanguages">
                    {% if toLanguageKey %}
                    <option value="{{ toLanguageKey }}">{{secondLanguage | capitalize}}</option>
                    {% endif %}
                    {% for key, language in languages.items() %}
                        {% if not key == toLanguageKey %}
                        <option value="{{ key }}">{{ language | capitalize }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <textarea class="form-control rounded-0" name="traduccion" id="traduccion" rows="6" readonly>{{textTranslated}}</textarea>
            </div>
        </div>
        <br>
        <div class="text-center">
            <button class="btn success btn-lg btn-block" type="submit">Translate</button>
        </div>
    </form>
</div>
{% endblock %}